.serverless

s3-uploader/runtimes/**/target
s3-uploader/runtimes/**/obj
s3-uploader/runtimes/**/bin
s3-uploader/runtimes/*/code*.zip

result-builder/node_modules
report-log-processor/node_modules
function-invoker/node_modules
function-trigger-deployer/node_modules
function-deployer/node_modules
function-trigger-invoker/node_modules
data
.DS_Store
docs/node_modules
docs/public
docs/app.js
docs/package.json

**/.idea/
**/package-lock.json
