.serverless

s3-uploader/runtimes/**/target
s3-uploader/runtimes/**/obj
s3-uploader/runtimes/**/bin
s3-uploader/runtimes/*/code*.zip
s3-uploader/node_modules/

**/node_modules
data
.DS_Store
docs/public
docs/app.js
docs/package.json

**/.idea/
**/package-lock.json
